<%= simple_form_for @collection do |f| %>
  <%= f.input :address, label: false, placeholder: "Address", input_html: { id:"collection_address"} %>
  <%= f.input :neighborhood, label: false, collection: Collection::NEIGHBORHOODS,placeholder: "Select neighborhood" %>
  <%= f.input :tip, label: false, placeholder: "Tip" %>
  <%= f.input :big_bottles, label: false, placeholder: "# of big bottles" %>
  <%= f.input :small_bottles, label: false, placeholder: "# of small bottles" %>
  <%= f.input :details, label: false, placeholder: "Details" %>
  <div class="button-container">
    <%= f.button :submit, class: "button" %>
  </div>
<% end %>
