<div class="banner text-center">
  <div class="d-flex justify-content-center">
    <%= image_tag("logo-white.png", height: '100%', width: '180px')%>
  </div>
    <a href="#collections" id="scroll-btn"><span id="arrow"></span></a>
  </div>

<div class="container">
  <div class="two-buttons-container">
    <div class="dropdown-neighborhoods">
      <button class="button dropdown-toggle scrollable-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Neighborhoods
      </button>

      <div class="dropdown-menu scrollable-menu" id="neighborhoods" aria-labelledby="dropdownMenuButton">
        <% Collection::NEIGHBORHOODS.each do |neighborhood| %>
          <%= link_to neighborhood, root_path(q:neighborhood), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>

    <div class="dropdown-filters">
      <button class="button dropdown-toggle scrollable-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by
      </button>

      <div class="dropdown-menu scrollable-menu" id="filters" aria-labelledby="dropdownMenuButton">
        <%= link_to "Reward", root_path(q:'reward'), class: "dropdown-item" %>
        <%= link_to "Newest", root_path(q:'newest'), class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @collections.each do |collection| %>
      <% if collection.bookings.empty? %>
        <%= render "shared/card", element: collection %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to map_path, class: "map-marker" do %>
  <i class="fas fa-map-marker-alt"></i>
<% end %>
