<%# insert
    banner
    here ? %>
<div class="dropdown-neighborhoods">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Neighborhoods
  </button>

  <div class="dropdown-menu" id="neighborhoods" aria-labelledby="dropdownMenuButton">
    <% Collection::NEIGHBORHOODS.each do |neighborhood| %>
      <%= link_to neighborhood, root_path(q:neighborhood), class: "dropdown-item" %>
    <% end %>
  </div>
</div>

<div class="dropdown-filters">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter by
  </button>

  <div class="dropdown-menu" id="filters" aria-labelledby="dropdownMenuButton">
    <%= link_to "Reward", root_path(q:'reward'), class: "dropdown-item" %>
    <%= link_to "Newest", root_path(q:'newest'), class: "dropdown-item" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @collections.each do |collection| %>
      <% if collection.bookings.empty? %>
        <%= render "shared/card", element: collection %>
        <%= render "shared/modal", element: collection %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to map_path, class: "map-marker" do %>
  <i class="fas fa-map-marker-alt"></i>
<% end %>

