<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-adjustments">
      <div class="d-flex justify-content-center logo-adjustments">
        <%= image_tag("logo.png", height: '100%', width: '250px')%>
      </div>
      <div class="form">
        <%= simple_form_for @collection do |f| %>
          <%= f.input :address, label: false, placeholder: "Address", input_html: {
        id:"collection_address"} %>
          <%= f.input :neighborhood, label: false, collection: Collection::NEIGHBORHOODS,
          placeholder: "Select neighborhood" %>
          <%= f.input :tip, label: false, placeholder: "Tip" %>
          <%= f.input :big_bottles, label: false, placeholder: "# of Bottles" %>
          <%= f.input :small_bottles, label: false, placeholder: "# of Bottles" %>
          <%= f.input :details, label: false, placeholder: "Details" %>
        <div class="button-container">
          <%= f.button :submit, class: "button" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
