<div class="d-flex justify-content-center logo-adjustments">
  <%= image_tag("logo.png", height: '100%', width: '250px')%>
  </div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 form-adjustments">
      <div class="col">
        <%= simple_form_for @collection do |f| %>
          <%= f.input :address %>
          <%= f.input :neighborhood, collection: Collection::NEIGHBORHOODS %>
          <%= f.input :tip %>
          <%= f.input :bottles %>
          <%= f.input :details %>
          <div class="button-container">
            <%= f.button :submit, class: "button" %>
          </div>
        <% end %>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>

