<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-6 modal-card-content">
      <div>
        <% if @booking.collection.user.avatar.attached? %>
          <%= cl_image_tag @booking.collection.user.avatar.key, class:"avatar-large", alt:"avatar-large" %>
        <% else %>
          <i class="fas fa-user-circle avatar-large"></i>
        <% end %>
      </div>
      <div class="card-collect-infos">
        <h3><%= @booking.collection.user.first_name %> <%= @booking.collection.user.last_name%></h3>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <h5><%= @booking.collection.address %>
        <%= link_to '<i class="fas fa-map-marked-alt"></i>'.html_safe, "https://www.google.no/maps/place/#{@booking.collection.address}" %></h5>
        <h5>Owner: <%= @booking.collection.user.first_name %> <%= @booking.collection.user.last_name %></h5>
        <h5>Phone: <%= @booking.collection.user.phone_number %></h5>
        <p>Note from <%= @booking.collection.user.first_name %>: <br /><i><%= @booking.collection.details %></i></p>
      <div class="two-buttons-container">
        <%= link_to "My collections", dashboard_path, class:"button" %>
        <%= link_to "Collect more", root_path, class:"button" %>
      </div>
    </div>
  </div>
</div>



