<div class="dashboard-container">
  <div class="dashboard-user">
    <div class="profile-avatar">
      <% if current_user.avatar.attached? %>
        <p><%= cl_image_tag(current_user.avatar.key, class: "avatar-small", alt: "avatar-small", crop: :fill, gravity: :face) %></p>
      <% else %>
        <i class="fas fa-user-circle avatar-large"></i>
      <% end %>
    </div>

<!-- User Info -->
    <div class="current-user">
      <div>
        <p><strong><%= current_user.first_name%> <%= current_user.last_name %></strong></p>
        <p><%= current_user.phone_number %></p>
        <p><%= current_user.email %></p>
      </div>
    </div>
      <div>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

<div class="dashboard-container">
  <ul class="nav nav-pills mb-3 d-flex justify-content-around" id="pills-tab" role="tablist">
    <li class="nav-item nav-item-adjustment">
      <a class="nav-link <%= params[:tab]=='collections' ? 'active' : '' %>" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Collections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= params[:tab]=='donations' ? 'active' : '' %>" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Donations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= params[:tab]=='statistics' ? 'active' : '' %>" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Statistics</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade <%= params[:tab]=='collections' ? 'show active' : '' %>" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

      <div id="accordion">
        <%= render "shared/dashboard_collections" %>

      </div>
    </div>

    <div class="tab-pane fade <%= params[:tab]=='donations' ? 'show active' : '' %>" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <!-- Collections the user has DONATED, and are active (not yet confirmed) -->
      <%= render "shared/dashboard_donations" %>
    </div>
    <div class="tab-pane fade <%= params[:tab]=='statistics' || !params.has_key?(:tab) ? 'show active' : '' %>" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <!-- User Statistics. Any past bookings are here. I will implement stat logic today (lines 71 - 73) -->
      <%= render "shared/dashboard_statistics" %>

  <!-- User's past bookings Collected -->
    <!-- <div class="row" id='confirmed'> -->
      <%# current_user.bookings.each do |booking| %>
        <%# if booking.confirmed? %>
          <%#= render "shared/bookingCard", element: booking %>
        <%# end %>
      <%# end %>

  <!-- User's past collections Donated -->
      <%# current_user.collections.each do |donation| %>
        <%# if !donation.bookings.empty? && donation.bookings.last.confirmed? %>
          <%#= render "shared/card", element: donation %>
        <%# end %>
      <%# end %>
    <!-- </div> -->
  </div>
  </div>
</div>
