<div class="glide-wrapper">
  <div class="glide" style="height:100%, display: block !important;position: fixed;bottom: 0;">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">

          <div class="glide__slide text-center">
            <div class="glide-image">
              <%= image_tag("beach.png")%>
            </div>

            <div class="glide-text">
              <h3>For the Environment.</h3>
              <p> Global Warming </p>
              <p> Scary Text Here </p>
              <p> The whales are dying </p>
              <p><center>-----</center></p>
              <h5> You can help </h5>
            </div>
          </div>

          <div class="glide__slide text-center">
            <div class="glide-image">
              <%= image_tag("norway.png")%>
            </div>

            <div class="glide-text">
              <h3>Setting the standard for the rest of the world.</h3>
              <p>Norway is a world leader in recycling.</p>
              <p> Still, 150 million bottles each year are not returned.</p>
              <p><center>-----</center></p>
              <h5> We can do better. </h5>
            </div>
          </div>

          <div class="glide__slide text-center">
            <div class="glide-image">
              <%= image_tag("money.png")%>
            </div>
            <div class="glide-text">
              <h3>Make some quick cash.</h3>
              <p> You pant it, you keep it. </p>
              <p> Earn tips from those who donate. </p>
              <p><center>-----</center></p>
              <h5> Be the change</h5>
              <h5>Keep the Change. </h5>
            </div>
          </div>

          <div class="glide__slide text-center">
            <div class="glide-image">
              <%= image_tag("pant-forward-white.png")%>
            </div>

            <div class="glide-text">
              <h3 style=" color:black">Let's get started.</h3>
            </div>
            <br>

            <div class="button-container">
              <%= link_to "Register Now", new_user_registration_path, class:"button" %>
            </div>

            <%= link_to "Already a user? Log in", root_path, style:'color:black' %>
          </div>

      </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
    </div>
  </div>
</div>


