<div class="glide-wrapper">
  <div class="glide">
    <!-- style="height:100%; position: sticky;top:0; display: block !important;" -->
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">

          <div class="glide__slide text-center">

            <div class="slider-navbar d-flex justify-content-between align-items-center">
              <div class="slider-navbar-icons">
                <%= image_tag("align-logo.png")%>
              </div>
              <div class="slider-navbar-icons" style="font-weight: bold">
                <%= link_to 'SKIP', root_path %>
              </div>
            </div>

            <div class="glide-image">
              <%= image_tag("beach.png", height: '200px;')%>
            </div>

            <div class="glide-text">
              <h3>For the Environment.</h3>
              <br>
              8 million metric tons of bottles end up in the ocean each year. <br>Busy? Want to help? </p>
              <h5> Donate your bottles today. </h5>
            </div>


          </div>


          <div class="glide__slide text-center">

            <div class="slider-navbar d-flex justify-content-between align-items-center">
              <div class="slider-navbar-icons">
                <%= image_tag("align-logo.png")%>
              </div>
              <div class="slider-navbar-icons" style="font-weight: bold">
                <%= link_to 'SKIP', root_path %>
              </div>
            </div>

            <div class="glide-image">
              <%= image_tag("norway.png", height: '200px;')%>
            </div>

            <div class="glide-text">
              <h3>Setting the standard<br> for the world.</h3>
              <br>
              <p>Norway is a world leader in recycling. Still, 150 million bottles each year are not returned.</p>

              <h5> We can do better. </h5>
            </div>
          </div>

          <div class="glide__slide text-center">

            <div class="slider-navbar d-flex justify-content-between align-items-center">
              <div class="slider-navbar-icons">
                <%= image_tag("align-logo.png")%>
              </div>
              <div class="slider-navbar-icons" style="font-weight: bold">
                <%= link_to 'SKIP', root_path %>
              </div>
            </div>
            <div class="glide-image">
              <%= image_tag("money.png", height: '200px;')%>
            </div>
            <div class="glide-text">
              <h3>Make some cash.</h3>
              <br>
              <p> Find bottle donations nearby. Earn tips from those who donate. </p>

              <h5> Be the change. </h5>
              <h5> Keep the change. </h5>
            </div>
          </div>


          <div class="glide__slide text-center slider-last-adjustments" style="height: 100vh;">
            <div class="glide-image logo-small">
              <%= image_tag("logo-white.png", height: '100%', width: '120px')%>
            </div>

            <div class="glide-text">
              <h3 style="color: $white;">Let's get started.</h3>
            </div>
            <br>

            <div class="button-container">
              <%= link_to "Register Now", new_user_registration_path, class: "button-white" %>
            </div>

            <div class="button-container">
              <%= link_to "Already a user? Log in", root_path, class: "link-text" %>
            </div>
          </div>

      </ul>
    </div>

    <div class="slider-footer d-flex justify-content-center align-items-center">
      <div class="slider-navbar-icons">
        <div class="glide__bullets" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
          <button class="glide__bullet" data-glide-dir="=3"></button>
        </div>
      </div>
<!--       <div class="" style="font-weight: bold">
        NEXT <i class="fas fa-arrow-right"></i>
      </div> -->
    </div>

  </div>
</div>


