<div class="header-wrapper">
  <h1>Dashboard</h1>
</div>
<div class="container-wrapper d-flex justify-content-between">
  <div class="profile-avatar">
    <%# if current_user.avatar.attached? %>
    <p><%#= cl_image_tag(current_user.avatar.key, class: "avatar-large", alt: "avatar-large", crop: :fill, gravity: :face) %></p>
    <%# else %>
    <i class="far fa-user-circle avatar-large"></i>
    <%# end %>
  </div>
  <div class="current-user">
    <p>Name: <%= current_user.first_name%> <%= current_user.last_name %> </p>
    <p>Phone: <%= current_user.phone_number %></p>
    <p>Email: <%= current_user.email %></p>
  </div>
</div>

<div class="header-wrapper">
  <h3>Your current collections</h3>
  <p>Number of pending collections:</p>
</div>
<div class="container">
  <div class="row">
  <% #current_user.collections.each do |collection| %>
    <div class="col-sm-12 col-md-6 col-lg-4 card-container-adjustments">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card-collect">
          <div>
            <img class="avatar-large" alt="avatar-large" src="https://i.pravatar.cc/200"/>
          </div>
          <div class="card-collect-infos">
            <h3><%#= link_to "#{current_user.collection.where(status = 1).first_name} donates #{collection.tip} kr", collection %></h3>
            <p><%#= collection.address %></p>
  <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-wrapper">
  <h3>Your current donations</h3>
</div>
<div class="container">
  <div class="row">
   <% current_user.collections.where(status: 0).each do |collection| %>
      <%= render "shared/card", element: collection %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-primary btn-lg", style: "width: 90%" %>
</div>
