<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card-collect card-trigger" id="btn-<%= element.id %>" data-modal="myModal_<%= element.id %>">
    <div>
      <% if element.user.avatar.attached? %>
        <%= cl_image_tag element.user.avatar.key, class:"avatar-large", alt:"avatar-large" %>
      <% else %>
        <img class="avatar-large" alt="avatar-large" src="https://i.pravatar.cc/200"/>
      <% end %>
    </div>
    <div>
      <div class="card-collect-infos">
        <h3><%= "#{element.user.first_name} donates #{element.tip} kr"%></h3>
        <p><%= element.address %></p>
      </div>
    </div>
  </div>
</div>
