<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card-collect card-trigger" id="btn-<%= element.id %>" data-modal="myModal_<%= element.id %>">
    <% if element.user.avatar.attached? %>
      <%= cl_image_tag element.user.avatar.key, class:"avatar-large", alt:"avatar-large" %>
    <% else %>
      <i class="fas fa-user-circle avatar-large"></i>
    <% end %>
    <div class="card-collect-infos">
      <h4>Reward: <%= element.reward %>kr</h4>
      <p>Donated by: <%= element.user.first_name %> <%= element.user.last_name %></p>
      <div class="two-icons-container">
        <p><i class="fas fa-wine-bottle"></i> <%= element.big_bottles + element.small_bottles %></p>
        <p><i class="fas fa-trophy"></i> <%= element.tip %> kr</p>
      </div>
    </div>
  </div>
</div>

<%= render "shared/modal", element: element %>
