<script>
  window.userStats = <%=raw @stats.to_json %>;
</script>

<div class="text-center">
  <div class="dashboard-numbers">
    <h1 class="counter"><%= @stats[:bottles_picked_up] + @stats[:bottles_donated] %></h1>
    <h5>bottles saved</h5>
  </div>
</div>

<div class="motivation-container text-center">
  <p>
  <% case @stats[:bottles_picked_up] + @stats[:bottles_donated] %>
  <% when 0 %>
    <strong>Come on! Get out there and save your first bottle.</strong>
  <% when 1..10 %>
    <strong>Great job! If you pant just one bottle, you save enough energy to fully charge your mobile 70 times. </strong>
  <% when 11..20 %>
    <strong>Keep it up! Did you know every second 5 bottles are not deposited? There is more work to do! </strong>
  <% when 21..30 %>
    <strong>Yearly, the average Norwegian throws away 30 bottles in nature. Good job saving them! </strong>
  <% when 31..50 %>
    <strong>You´re on a roll! Continue that awesome job. </strong>
  <% when 51..100 %>
    <strong><%= @stats[:bottles_picked_up] + @stats[:bottles_donated] %> bottles saved! That's insane. </strong>
  <% when 101..200 %>
    <strong>Mother nature is thanking you! Keep it up, every bottle makes a difference. </strong>
  <% when 201..1000 %>
    <strong>Fantastic! Every minute of every day 285 bottles are not recycled. Keep going! </strong>
  <% when 1000..10000 %>
    <strong>Wow! You are unstoppable. With your help we can get to 100% recycled! </strong>
  <% end %>
  </p>
</div>

<div class="text-center">
  <p>Your stats compared to the avarage user this month</p>

<div class="d-flex justify-content-between">
  <div class="dashboard-stats" style="position: relative; width: 44vw">
    <p>Money earned</p>
    <canvas id="moneyEarnedChart"></canvas>
    <p> <%= @stats[:money_earned] %>kr</p>
  </div>
  <div class="dashboard-stats" style="position: relative; width: 44vw">
    <p>Charity provided (kr)</p>
    <canvas id="charityProvidedChart"></canvas>
    <p> <%= @stats[:money_donated] %>kr</p>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="dashboard-stats" style="position: relative; width: 44vw">
    <p>Collections</p>
    <canvas id="collectionChart"></canvas>
    <p> <%= @stats[:pick_ups] %> times</p>
  </div>
  <div class="dashboard-stats" style="position: relative; width: 44vw">
    <p>Donations</p>
    <canvas id="donationChart"></canvas>
    <p> <%= @stats[:donations] %> times</p>
  </div>
</div>
</div>

<div class="chart-label d-flex align-items-center">
  <span class="dot-two"></span>
  You
</div>

<div class="chart-label d-flex align-items-center">
  <span class="dot"></span>
  Average
</div>
