
<div class="text-center">

  <h3>Your statistics</h3>
  <%= render 'shared/progression_bar' %>
  <p>BASED ON THE BAR, YOU HAVE SAVED SO MUCH LIVES AND TREES AND HOT MOMS</p>
<!-- Here we want a cool bar -->
  <h5>Total bottles saved</h5>
  <p><%= @stats.bottles_picked_up + @stats.bottles_donated %> bottles</p>
</div>

<p>Money earned: <%= @stats.money_earned %> kr</p>
<p>Charity provided: <%= @stats.money_donated %> kr
<p>Collections: <%= @stats.pick_ups %></p>
<p>Donations: <%= @stats.donations %></p>
