<div class="modal-content confirm-modal modal">
  <span class="close">&times;</span>

  <div class="modal-card-content">

    <div>
      <% if booking.user.avatar.attached? %>
        <%= cl_image_tag booking.user.avatar.key, class:"avatar-large", alt:"avatar-large" %>
      <% else %>
        <i class="fas fa-user-circle avatar-large"></i>
      <% end %>
    </div>

    <% if booking.collection.tip > 0 %>
      <div class="card-collect-infos">
          <h5>Tip: <%= booking.collection.tip%>kr</h5>
          <p>Picked up by: <%= booking.user.first_name %></p>
          <p>Send to: <strong><%= booking.user.phone_number %></strong></p>
          <div class="two-icons-container">
            <p><i class="fas fa-wine-bottle"></i> <%= booking.collection.big_bottles + booking.collection.small_bottles %></p>
            <p><i class="fas fa-trophy"></i> <%= booking.collection.reward  %> kr</p>
          </div>
          <p><strong>Please follow the link below to send your tip to <%= booking.user.first_name %>!</strong></p>
      </div>

      <div class="button-container">
        <%= link_to "Vipps", 'https://www.vipps.no/', class:"button" %>
      </div>

    <% else %>
      <div class="card-collect-infos">
        <h3>Thanks for confirming! Ready for your next donation?</h3>
        <p>Picked up by: <%= booking.user.first_name %></p>
        <div class="two-icons-container">
          <p><i class="fas fa-wine-bottle"></i> <%= booking.collection.big_bottles + booking.collection.small_bottles %></p>
          <p><i class="fas fa-trophy"></i> <%= booking.collection.reward  %> kr</p>
        </div>
      </div>
    <% end %>

  </div>
</div>
