<div class="modal-content">
  <span class="close">&times;</span>
  <div class="modal-card-content">
    <div>
      <% if element.user.avatar.attached? %>
        <%= cl_image_tag element.user.avatar.key, class:"avatar-large", alt:"avatar-large" %>
      <% else %>
        <i class="fas fa-user-circle avatar-large"></i>
      <% end %>
    </div>
    <div class="card-collect-infos">
      <h4>Reward: <%= element.reward %>kr</h4>
      <p>Donated by: <%= element.user.first_name %> <%= element.user.last_name %></p>
      <p>Neighborhood: <%= element.neighborhood %></p>
      <div class="two-icons-container">
        <p><i class="fas fa-wine-bottle"></i> <%= element.big_bottles + element.small_bottles %></p>
        <p><i class="fas fa-trophy"></i> <%= element.tip %> kr</p>
      </div>
    </div>
  </div>
  <% if element.user != current_user %>
    <div class="button-container">
      <%= link_to "Book collection", collection_bookings_path(element), method: :post, remote: true, class:"button" %>
    </div>
  <% end %>
</div>
